*{
    margin: 0;
    padding: 0;
}

#titulo{
    
    font-family:sans-serif;
    margin-left: 3%;
    color: rgb(0, 0, 39);
    
}

#subtitulo {

    font-family: sans-serif;
    margin-left: 7%;
    color: rgb(0, 0, 39);
      
}

fieldset {
    border: 0;
    padding-top: 30px;
    display: flex;
}

body{
    
    background: -webkit-linear-gradient(90deg, hsla(207, 36%, 46%, 1) 0%, hsla(190, 90%, 51%, 1) 100%);
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(0, 0, 39);
    margin-top: 2%;
    margin-left: 36%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;

}

.campo label{
    margin-bottom: 0.2em;
    color: rgb(0, 0, 39);
    display:block;
}

fieldset .grupo .campo{
    float: left;
    margin-right: 1em;
}

.grupo [type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.5em;
    margin-bottom: 4%;
    margin-right: 50px;
    border: 1px solid #162344;
    box-shadow: 2px 2px 2px rgb(100, 154, 253);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, select:focus, textarea:focus{
    background: rgb(147, 199, 219);
}

.botao{
    font-size: 1.2em;
    background: rgb(147, 199, 219);
    border: 0;
    margin-bottom: 1em;
    color: rgb(0, 0, 39);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(0, 0, 39);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    position: absolute;

}

.botao:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgb(0, 0, 39);
    text-shadow: none;
}

#check{
    display: inline-block;
}

footer {
    padding-left: 8%;
    padding-top: 15%;
    padding-bottom: 15%;
    font-size: 0.7em;
}



